<footer class="site-footer" role="contentinfo">
  <div class="container">

    <div class="site-credit">
      CodeShame is built and maintained by Caley&nbsp;Jack&nbsp;Steward
      <br>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <span class="icon-github"></span>
          {{ site.github_username }}
        </a>
      {% endif %}
      <span class="divider">/</span>
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="icon-twitter"></span>
          {{ site.twitter_username }}
        </a>
      {% endif %}
    </div>
  </div>
</footer>
