<footer class="site-footer" role="contentinfo">
  <div class="container">

    {% include nav.html %}

    <div class="footer-col-2 column">
      Maintained by
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <span class="username">{{ site.github_username }}</span>
        </a>
      {% endif %}
      /
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="username">{{ site.twitter_username }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</footer>
