//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.eot");
  src: font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.eot?#iefix") format("embedded-opentype"),
       font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.woff") format("woff"),
       font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.ttf") format("truetype"),
       font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: font-url("/assets/fonts/fontcustom_011e13cada4c58adfa5507d8b58a2660.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-close:before,
.icon-github:before,
.icon-plus:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-chevron-left:before { content: "\f100"; }
.icon-chevron-right:before { content: "\f101"; }
.icon-close:before { content: "\f102"; }
.icon-github:before { content: "\f103"; }
.icon-plus:before { content: "\f104"; }
.icon-twitter:before { content: "\f105"; }
