*,
*:before,
*:after
  +box-sizing(border-box)

body
  +sans-reg
  background-color: #EFEFEF
  margin: 0
  position: relative

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li
  margin-top: 0px // override normalize

h1,
h2,
h3,
h4,
h5,
h6
  +sans-demi

p
  line-height: 1.5

a,
a:link,
a:visited
  +single-transition(color, 0.1s, ease-in-out)
  color: #57a3d2
  outline: none
  text-decoration: none

a:hover, a:focus
  color: #d25776

strong
  +sans-bold
  font-weight: normal

em
  font-weight: normal

img
  max-width: 100%

iframe
  border: none
  display: block

.container,
  +container
  position: relative

#content
  background-color: white

#content > .container
  +vertical-spacing(padding, 1.5)

#content .container-inner
  +tablet
    +span-columns(10)
    +pre(1)
    +post(1)

.divider
  +sans-thin
  +inline-block
  color: black
  font-size: 24px
  margin: 0 2px

  +desktop
    margin: 0 4px



////////////////////////////////////
// Site Header /////////////////////
////////////////////////////////////

.site-header
  +vertical-spacing(padding, 1.5)
  text-align: center
  background-color: #EFEFEF

.site-title
  +sans-demi
  font-size: 32px

  +desktop
    font-size: 42px

.site-tagline
  color: #444
  font-size: 16px
  margin: 0 0 0

  +desktop
    font-size: 21px

.site-established
  +sans-demi
  color: #CCC
  font-size: 14px
  letter-spacing: 1px
  margin: 0
  text-transform: uppercase

  +desktop
    font-size: 16px



////////////////////////////////////
// Site Footer /////////////////////
////////////////////////////////////

.site-footer
  +vertical-spacing(padding, 1)
  text-align: center

.site-credit
  color: #444

.site-credit .icon-twitter
  position: relative
  top: 2px



////////////////////////////////////
// Page ////////////////////////////
////////////////////////////////////

.page .post-header
  text-align: center

.page p
  +tablet
    font-size: 18px

  +desktop
    font-size: 21px
