body
  +sans-reg
  margin: 0
  position: relative

////////////////////// TYPE

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li
  margin-top: 0px // override normalize

h1,
h2,
h3,
h4,
h5,
h6
  +sans-demi

p
  line-height: 1.5em

a,
a:link,
a:visited
  +single-transition(color, 0.05s, ease-in-out)
  text-decoration: none
  outline: none

a:hover, a:focus
  color: #45aca8

strong
  font-weight: normal

em
  font-weight: normal

em strong,
strong em
  font-weight: normal


iframe
  border: none
  display: block


.clear
  clear: both

.container,
#content
  +container
  position: relative

// .nav
//   +desktop
//     +span-columns(4)

#content
  +container
  position: relative

#content > div
  +tablet
    +span-columns(10)
    +pre(1)
    +post(1)

  +desktop
    +span-columns(8)
    +pre(2)
    +post(2)
