.post
  +vertical-spacing(margin, 0, 2)

.post .highlight
  +border-radius(5px)
  margin: 0 0 2em
  min-height: 150px
  overflow: auto
  padding: 1.5em 2em


.post-tags-title
  +sans-bold
  display: inline-block
  letter-spacing: 1px
  text-transform: uppercase

.post-tag
  +antialiased
  +border-radius(3px)
  +sans-demi
  background-color: #222
  color: white
  display: inline-block
  font-size: 14px
  padding: 5px 10px