.post
  +vertical-spacing(margin, 0, 1.5)
  +vertical-spacing(padding, 0, 1.5)
  position: relative

.post:after
  +absolutely-centered
  background-color: #CCC
  content: " "
  display: block
  width: 38%
  height: 1px
  bottom: 0

.post-header
  +vertical-spacing(margin, 0, 0.5)

.post-header h1
  font-size: 24px
  line-height: 1.1
  margin-bottom: 0px

  +tablet
    font-size: 28px

  +desktop
    font-size: 32px

.post-meta
  +sans-demi
  color: #AAA
  font-size: 12px
  margin: 0

  +desktop
    font-size: 14px

.post-code
  position: relative

.post .highlight
  +antialiased
  margin: 0 0 2em
  overflow: auto
  padding: 24px 32px 24px
  position: relative
  -webkit-overflow-scrolling: touch

  +tablet-desktop
    min-height: 200px

.post-code .highlight:last-child
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.post-code .highlight.active
  z-index: 1

.post-code
  margin-top: 51px

  +tablet
    margin-top: 58.5px

  +desktop
    margin-top: 66px

.post-code-nav a
  +antialiased
  +sans-demi
  +single-transition(background, 0.1s, ease-in-out)
  background-color: lighten(#272822, 10%)
  color: white
  display: block
  font-size: 14px
  position: absolute
  width: 50%
  height: 36px
  letter-spacing: 1px
  line-height: 36px
  text-align: center
  text-transform: uppercase
  top: -36px
  z-index: 1000

  +desktop
    width: 25%

.post-code-nav a:hover,
.post-code-nav a:focus
  background-color: lighten(#272822, 5%)

.post-code-nav a:first-child
  left: 0

.post-code-nav a:last-child
  left: 50%

  +desktop
    left: 25%

.post-code-nav a.active
  background-color: #272822
  cursor: default
  height: 38px
  top: -38px

.post code
  +mono-reg
  font-size: 14px
  padding: 0 2em 0 0

  +desktop
    font-size: 16px

.no-js
  .highlight
    // overflow-y: visible
    padding-top: 50px

  .highlight:before
    +antialiased
    +sans-demi
    background-color: black
    content: "Shame"
    display: inline-block
    letter-spacing: 1px
    line-height: 36px
    padding: 0 32px
    position: absolute
    top: 0
    left: 0
    text-transform: uppercase
    // width: 50%
    height: 36px

    // +desktop
    //   width: 25%

  .highlight + .highlight:before
    content: "Honor"