=sans-reg
  font-family: "AvenirNext-Regular", "Helvetica Neue", sans-serif
  font-weight: 400

=sans-demi
  font-family: "AvenirNext-Demibold", "Helvetica Neue", sans-serif
  font-weight: 600

=sans-bold
  font-family: "AvenirNext-Bold", "Helvetica Neue", sans-serif
  font-weight: 700
