!!! 5
%head
  %meta{ charset: 'utf-8' }
  %title
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
  %meta{ name: 'description', content: '{{ site.description }}' }
  %link{ rel: 'canonical', href: "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" }

  %link{ rel: "stylesheet", href: "/assets/css/screen.css?#{Time.now.to_i}" }

  %script{ src: "/assets/js/modernizr.js?#{Time.now.to_i}" }

%body
  {% include header.html %}

  #content{ role: "main" }
    {{content}}

  {% include footer.html %}

  :javascript
    // clicky

  %script{ src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" }
  %script{ src: "/assets/js/plugins.js?#{Time.now.to_i}" }
  %script{ src: "/assets/js/app.js?#{Time.now.to_i}" }

