<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <meta content='{{ site.description }}' name='description'>
  <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel='canonical'>
  <link href='/assets/css/screen.css?1413428010' rel='stylesheet'>
  <script src='/assets/js/modernizr.js?1413428010'></script>
</head>
<body>
  {% include header.html %}
  <div id='content' role='main'>
    <div class='container'>
      {{content}}
    </div>
  </div>
  {% include footer.html %}
  <script>
    // clicky
  </script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <script src='/assets/js/plugins.js?1413428010'></script>
  <script src='/assets/js/app.js?1413428010'></script>
</body>
